.header{
    border: 5px outset rgb(171, 189, 209);
  background-color: rgb(75, 149, 173);    
  text-align: left;
  width: 100%;
  }
  .column1 {
  position: fixed; top: 22%; left: 0; 
    float: left;
    width: 19.8%;
    padding: 10px;
    height: 900px;
    
  }
  
  
  .column2 {
    position: fixed; top: 22%; right: 0;
    float: left;
    width: 60%;
    padding: 10px;
    height: 900px;
    
    }
  
  .column3 {
    position: fixed; top: 22%; right: 0; 
    float: right;
    width: 18%;
    padding: 25px;
    height: 900px;
  }
  
  
  
  
  
  
  .restapis  
  {
    padding: 100px;
    position: fixed; top: 10%; right: 0; 
  }
  
  .renameForm
  {
    position: fixed; top: 60%; right: 0;
  }
  .compressForm
  {
    position: fixed; top: 60%; right: 0;
  }
  .button1{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  
  .open{
  color:blue;
  }
  .rename{
  color:blue;
  }
  .compress{
  color:blue;
  }
  .btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .news-container{
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px
  rgba(0,0,0,0.3);
  }
  
  .news-container .title{
  position: absolute;
  background: #e8ebee;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
  }
  
  .news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
  }
  
  .news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
  
  }
  
  .news-container ul li::after {
  content:"";
  width: 1px;
  height:100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  
  }
  
  .news-container ul li:last-child::after {
  display: none;
  }
  
  @keyframes scroll {
  from{
      transform: translateX(100%);
  }
  to {
      transform: translateX(-1936px);
  
  }
  }
  
  
  
  
  
  .content-table {
     position:fixed;top: 25%;right:40%; left: 27%;
    
   
    font-size: 0.9em;
   
  
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 800px;
    max-height:1000px;
   
  }
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  .mybutton {
   
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
  
    border-radius: 10px;
   
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .mybutton:hover {
    background-position: 100% 0;
   
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .mybutton:focus {
    outline: none;
  }
  
  .mybutton {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);}
  
  
  
  
  
  